<div class="container" style="height: 100%;">
<article class="blog-post" style="margin-top: 100px;">
  <h2 class="blog-post-title">{{title}}</h2>
  <p class="blog-post-meta">Oct 1, 2024 by <a href="https://xanmoy.in">Tanmoy</a></p>

  <p>{{content}}</p>
  <hr />
</article>
</div>